NEXT_PUBLIC_API_URL=

# Server-side Edge Middleware Proxy configuration
BACKEND_FUNNEL_URL=
X_APP_SECRET_TOKEN=


NEXT_PUBLIC_ADMIN_ROLE_ID=
NEXT_PUBLIC_DOCTOR_ROLE_ID=
NEXT_PUBLIC_PATIENT_ROLE_ID=
NEXT_PUBLIC_TECHNICIAN_ROLE_ID=

# Role Names (para comparación con tokens)
NEXT_PUBLIC_ADMIN_ROLE_NAME=Admin
NEXT_PUBLIC_DOCTOR_ROLE_NAME=Doctor
NEXT_PUBLIC_PATIENT_ROLE_NAME=Patient
NEXT_PUBLIC_TECHNICIAN_ROLE_NAME=Technician